h2 {
  text-align: center;
  color: #fff;
  padding: 1em;
}
nav {
  background-color: #454bfa;
  width: 100%;
  padding-bottom: 2em;
}
button {
  color: #fff;
  border: none;
  border-bottom: 5px #ffe371 solid;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  display: block;
  padding: 0.5em;
}

button:hover {
  letter-spacing: 3px;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.container {
  font-size: 20px;
  color: #9c9c9c;
  text-align: center;
  padding: 1em;
}
