.leftContainer {
  background-color: #f4f4f4;
  margin: 0 auto;
  width: 50vh;
  height: 79vh;
  float: left;

}
.planetListItem {
  background-color: white;
  width: 75%;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-top: 1em;
  box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.54);
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
}
.planetListItem:hover {
  background-color: #f3f3f3;
  letter-spacing: 3px;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.leftContainer p {
  font-weight: bold;
  font-size: 18px;
}
.leftContainer p span {

}

.visited {
  color: #37aa00;
  float: right;

  height: 15px;
  width: 15px;
  background-color: #37aa00;
  border-radius: 50%;
  display: inline-block;
}

.unvisited {
  color: red;
  float: right;

  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}


.loader {
  margin-top: 2em;
  border: 5px solid white; /* Light grey */
  border-top: 5px solid #b6b7b8; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

