<div class="vl"></div>
<div class="rightContainer" *ngIf="selectedPlanet">

  <p>{{selectedPlanet.name}}</p>
  <p><span>climate:</span><br>{{selectedPlanet.climate}}</p>
  <p><span>terrain:</span><br>{{selectedPlanet.terrain}}</p>
  <p><span>population:</span><br>{{selectedPlanet.population}}</p>
  <p><span>Residents:</span></p>
  <div *ngFor="let person of selectedPlanet.residents">
    <p>{{person.name}}</p>
  </div>

  <div *ngIf="hasBeenVisited(selectedPlanet) === !true">
  <button *ngIf="myFleet.id !== undefined" (click)="visitPlanet(selectedPlanet)">I have already visited this planet</button>
  </div>
</div>

