.vl {
  border-left: 6px solid #ffe371;
  height: 100%;
  float: left;
  margin-right: 1em;
  box-shadow: -2px 0px 34px -13px rgba(0,0,0,0.64);
}

.rightContainer {
  background-color: white;
  box-shadow: -2px 0px 24px -13px rgba(0,0,0,0.64);
}

.rightContainer p {
  text-align: left;
  padding: 0.5em;
  font-size: 20px;
}
.rightContainer p:first-child {
  font-size: 25px;
  font-weight: bold;
}
.rightContainer button {
  background-color: #454bfa;
  color: white;
  border: none;
  padding: 1em;
  margin-top: 2em;
  cursor: pointer;
  float: left;
  width: 30em;
  font-size: 17px;
}
.rightContainer button:hover{
  letter-spacing: 3px;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.rightContainer p span {
  font-size: 15px;
  color: #9c9c9c;
  font-weight: normal;
}
